{% extends 'layouts/base.html' %}

{% block title %}{% endblock %}
{% block meta_description %}Monitor the latest trends in US manufacturing and non-manufacturing sectors for trade idea generation.{% endblock %}

{% block body %}


<div class="jumbotron">
  <h1 class="display-4">Record Currency Management FX Analysis Toolkit</h1>
  <!-- <p class="lead">Sample text here.</p> -->
  <hr class="my-4">
  <!-- <a class="btn btn-primary btn-lg" href="{{ url_for('page.dashboard') }}" role="button">Example Button</a> -->
</div>

 <div class="container">
    <img src="static/images/recordcm.jpg" class="mx-auto d-block" alt="Responsive image">
</div>



{% endblock %}
